
<%= f.field_container :title do %>
  <%= f.label :name, Spree.t(:name) %> <span class='required'>*</span><br/>
  <%= f.text_field :title, class: 'fullwidth title' %>
  <%= f.error_message_on :title %>
<% end %>

<%= f.field_container :description do %>
  <%= f.label :name, Spree.t(:description) %> <br/>
  <%= f.text_field :notes, class: 'fullwidth title' %>
  <%= f.error_message_on :notes %>
<% end %>

<h5><%= Spree.t(:additional_information) %></h5>
<div class="row">
  <div class="alpha four columns">
    <%= f.field_container :phone do %>
      <%= f.label :phone, Spree.t(:phone) %> <span class='required'>*</span><br />
      <%= f.text_field :phone, :class => 'fullwidth' %>
      <%= f.error_message_on :phone %>
    <% end %>
  </div>

  <div class="omega four columns">
    <%= f.field_container :fax do %>
      <%= f.label :fax, Spree.t(:fax) %><br />
      <%= f.text_field :fax, :class => 'fullwidth' %>
      <%= f.error_message_on :fax %>
    <% end %>
  </div>


  <div class="four columns">
    <%= f.field_container :email do %>
      <%= f.label :email, Spree.t(:email) %> <span class='required'>*</span><br/>
      <%= f.text_field :email, :class => 'fullwidth' %>
      <%= f.error_message_on :email %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="alpha four columns">
    <%= f.field_container :facebook do %>
      <%= f.label :facebook, Spree.t(:facebook) %> <br />
      <%= f.text_field :facebook, :class => 'fullwidth' %>
      <%= f.error_message_on :facebook %>
    <% end %>
  </div>

  <div class="four columns">
    <%= f.field_container :twitter do %>
      <%= f.label :twitter, Spree.t(:twitter) %><br />
      <%= f.text_field :twitter, :class => 'fullwidth' %>
      <%= f.error_message_on :twitter %>
    <% end %>
  </div>

  <div class="omega four columns">
    <%= f.field_container :website do %>
      <%= f.label :website, Spree.t(:website) %><br/>
      <%= f.text_field :website, :class => 'fullwidth' %>
      <%= f.error_message_on :website %>
    <% end %>
  </div>
</div>

<h5>Proprietor Information</h5>
<%= f.field_container :name do %>
  <%= f.label :name, Spree.t(:owner_name) %> <span class='required'>*</span><br/>
  <%= f.text_field :name, class: 'fullwidth title' %>
  <%= f.error_message_on :name %>
<% end %>


<h5>Images</h5>
<%= f.fields_for :images do |image| %>
  <% if !image.object.attachment_file_name.nil? %>
    <span class="supplier_image">
      <%= image_tag(image.object.attachment.url) %>
    </span>
  <% else %>
      <p/><br/>
      <%= f.label :new_image, Spree.t(:upload_new_image) %><br/>
      <%= image.file_field :attachment if image.object.attachment_file_name.nil? %>
  <% end %>
<% end %>

