<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_suppliers_list), session[:return_to] || admin_suppliers_url, :icon => 'icon-arrow-left' %></li>
  <li id="new_supplier_link">
    <%= button_link_to Spree.t(:new_supplier), new_object_url, { :icon => 'icon-plus', :id => 'admin_new_supplier' } %>
  </li>
<% end %>

<%= render :partial => 'spree/admin/suppliers/supplier_tabs', :locals => {:current => "Supplier Details"} %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @supplier } %>

<%= form_for [:admin, @supplier], :html => { :method => :put, :multipart => true } do |f| %>
  
  <fieldset class='no-border-top'>
    <%= render :partial => "form", :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>

